@import url("https://fonts.googleapis.com/css2?family=Poppins%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-YtLRRZ13i: #142023;
  --plasmic-token-blue-gray: var(--token-YtLRRZ13i);
  --token-VfyNdxy0s: #ffffff;
  --plasmic-token-white: var(--token-VfyNdxy0s);
  --token-osH6CVaLZ: 1px;
  --plasmic-token-unnamed-style-token: var(--token-osH6CVaLZ);
  --token-plMbu2U0w: #f5c3a2;
  --plasmic-token-cream: var(--token-plMbu2U0w);
  --token-fWxXX5ngg: #f4e3d8;
  --plasmic-token-cream-light: var(--token-fWxXX5ngg);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-dDaiDc5UQQKB_font-family: "Poppins", sans-serif;
  --mixin-dDaiDc5UQQKB_font-size: 22px;
  --mixin-dDaiDc5UQQKB_font-weight: 400;
  --mixin-dDaiDc5UQQKB_font-style: normal;
  --mixin-dDaiDc5UQQKB_color: #535353;
  --mixin-dDaiDc5UQQKB_text-align: left;
  --mixin-dDaiDc5UQQKB_text-transform: none;
  --mixin-dDaiDc5UQQKB_line-height: 1.5;
  --mixin-dDaiDc5UQQKB_letter-spacing: 6%;
  --mixin-dDaiDc5UQQKB_white-space: pre-wrap;
  --mixin-dDaiDc5UQQKB_user-select: none;
  --mixin-dDaiDc5UQQKB_text-decoration-line: none;
  --mixin-dDaiDc5UQQKB_text-overflow: clip;
  --mixin-VTObBsa363En_color: var(--token-plMbu2U0w);
  --mixin-VTObBsa363En_font-weight: 600;
  --mixin-VTObBsa363En_font-size: 80px;
  --mixin-VTObBsa363En_line-height: 150%;
  --mixin-VTObBsa363En_letter-spacing: -0.5px;
  --mixin-VTObBsa363En_white-space: pre-wrap;
  --mixin-6RWbHJ78u5m2_color: var(--token-plMbu2U0w);
  --mixin-6RWbHJ78u5m2_font-size: 64px;
  --mixin-6RWbHJ78u5m2_font-weight: 600;
  --mixin-6RWbHJ78u5m2_letter-spacing: -0.5px;
  --mixin-6RWbHJ78u5m2_line-height: 150%;
  --mixin-6RWbHJ78u5m2_white-space: pre-wrap;
  --mixin-ZKRQCBbRJNd4_color: #0070f3;
  --mixin-ZKRQCBbRJNd4_white-space: pre-wrap;
  --mixin-ICojfD4oIU7t_color: #000000;
  --mixin-ICojfD4oIU7t_font-size: 32px;
  --mixin-ICojfD4oIU7t_font-weight: 600;
  --mixin-ICojfD4oIU7t_line-height: 1.2;
  --mixin-ICojfD4oIU7t_white-space: pre-wrap;
  --mixin-wG8U1a6nLBHK_color: #000000;
  --mixin-wG8U1a6nLBHK_font-size: 24px;
  --mixin-wG8U1a6nLBHK_font-weight: 600;
  --mixin-wG8U1a6nLBHK_line-height: 1.3;
  --mixin-wG8U1a6nLBHK_white-space: pre-wrap;
  --mixin-qzrbCcrC9RWD_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-qzrbCcrC9RWD_border-bottom-color: #dddddd;
  --mixin-qzrbCcrC9RWD_border-bottom-style: solid;
  --mixin-qzrbCcrC9RWD_border-bottom-width: 1px;
  --mixin-qzrbCcrC9RWD_border-left-color: #dddddd;
  --mixin-qzrbCcrC9RWD_border-left-style: solid;
  --mixin-qzrbCcrC9RWD_border-left-width: 1px;
  --mixin-qzrbCcrC9RWD_border-right-color: #dddddd;
  --mixin-qzrbCcrC9RWD_border-right-style: solid;
  --mixin-qzrbCcrC9RWD_border-right-width: 1px;
  --mixin-qzrbCcrC9RWD_border-top-color: #dddddd;
  --mixin-qzrbCcrC9RWD_border-top-style: solid;
  --mixin-qzrbCcrC9RWD_border-top-width: 1px;
  --mixin-qzrbCcrC9RWD_border-bottom-left-radius: 3px;
  --mixin-qzrbCcrC9RWD_border-bottom-right-radius: 3px;
  --mixin-qzrbCcrC9RWD_border-top-left-radius: 3px;
  --mixin-qzrbCcrC9RWD_border-top-right-radius: 3px;
  --mixin-qzrbCcrC9RWD_font-family: "Inconsolata";
  --mixin-qzrbCcrC9RWD_padding-bottom: 1px;
  --mixin-qzrbCcrC9RWD_padding-left: 4px;
  --mixin-qzrbCcrC9RWD_padding-right: 4px;
  --mixin-qzrbCcrC9RWD_padding-top: 1px;
  --mixin-qzrbCcrC9RWD_white-space: pre-wrap;
  --mixin-J2czhYEDJQhK_border-left-color: #dddddd;
  --mixin-J2czhYEDJQhK_border-left-style: solid;
  --mixin-J2czhYEDJQhK_border-left-width: 3px;
  --mixin-J2czhYEDJQhK_color: #888888;
  --mixin-J2czhYEDJQhK_padding-left: 10px;
  --mixin-J2czhYEDJQhK_white-space: pre-wrap;
  --mixin-1FirTVyhDEY7_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-1FirTVyhDEY7_border-bottom-color: #dddddd;
  --mixin-1FirTVyhDEY7_border-bottom-style: solid;
  --mixin-1FirTVyhDEY7_border-bottom-width: 1px;
  --mixin-1FirTVyhDEY7_border-left-color: #dddddd;
  --mixin-1FirTVyhDEY7_border-left-style: solid;
  --mixin-1FirTVyhDEY7_border-left-width: 1px;
  --mixin-1FirTVyhDEY7_border-right-color: #dddddd;
  --mixin-1FirTVyhDEY7_border-right-style: solid;
  --mixin-1FirTVyhDEY7_border-right-width: 1px;
  --mixin-1FirTVyhDEY7_border-top-color: #dddddd;
  --mixin-1FirTVyhDEY7_border-top-style: solid;
  --mixin-1FirTVyhDEY7_border-top-width: 1px;
  --mixin-1FirTVyhDEY7_border-bottom-left-radius: 3px;
  --mixin-1FirTVyhDEY7_border-bottom-right-radius: 3px;
  --mixin-1FirTVyhDEY7_border-top-left-radius: 3px;
  --mixin-1FirTVyhDEY7_border-top-right-radius: 3px;
  --mixin-1FirTVyhDEY7_font-family: "Inconsolata";
  --mixin-1FirTVyhDEY7_padding-bottom: 3px;
  --mixin-1FirTVyhDEY7_padding-left: 6px;
  --mixin-1FirTVyhDEY7_padding-right: 6px;
  --mixin-1FirTVyhDEY7_padding-top: 3px;
  --mixin-1FirTVyhDEY7_white-space: pre-wrap;
  --mixin-w2ml37rLxeSx_display: flex;
  --mixin-w2ml37rLxeSx_flex-direction: column;
  --mixin-w2ml37rLxeSx_align-items: stretch;
  --mixin-w2ml37rLxeSx_justify-content: flex-start;
  --mixin-w2ml37rLxeSx_list-style-position: outside;
  --mixin-w2ml37rLxeSx_padding-left: 40px;
  --mixin-w2ml37rLxeSx_position: relative;
  --mixin-w2ml37rLxeSx_list-style-type: disc;
  --mixin-w2ml37rLxeSx_white-space: pre-wrap;
  --mixin-n8VWf0nl5qge_display: flex;
  --mixin-n8VWf0nl5qge_flex-direction: column;
  --mixin-n8VWf0nl5qge_align-items: stretch;
  --mixin-n8VWf0nl5qge_justify-content: flex-start;
  --mixin-n8VWf0nl5qge_list-style-position: outside;
  --mixin-n8VWf0nl5qge_padding-left: 40px;
  --mixin-n8VWf0nl5qge_position: relative;
  --mixin-n8VWf0nl5qge_list-style-type: decimal;
  --mixin-n8VWf0nl5qge_white-space: pre-wrap;
  --mixin-erTidqbWSsVn_color: #000000;
  --mixin-erTidqbWSsVn_font-size: 20px;
  --mixin-erTidqbWSsVn_font-weight: 600;
  --mixin-erTidqbWSsVn_line-height: 1.5;
  --mixin-erTidqbWSsVn_white-space: pre-wrap;
  --mixin-huy32SZ6UorB_color: var(--token-VfyNdxy0s);
  --mixin-huy32SZ6UorB_font-size: 22px;
  --mixin-huy32SZ6UorB_font-weight: 600;
  --mixin-huy32SZ6UorB_line-height: 150%;
  --mixin-huy32SZ6UorB_text-transform: uppercase;
  --mixin-huy32SZ6UorB_white-space: nowrap;
  --mixin-huy32SZ6UorB_letter-spacing: 8%;
  --mixin-eMDzvoJGUHBU_color: #3291ff;
  --mixin-eMDzvoJGUHBU_white-space: pre-wrap;
  --mixin-QmzbvSwqQV1a_white-space: pre-wrap;
  --mixin-F-nl6JVwuJTk_color: var(--token-VfyNdxy0s);
  --mixin-F-nl6JVwuJTk_font-size: 24px;
  --mixin-F-nl6JVwuJTk_text-align: left;
  --mixin-F-nl6JVwuJTk_line-height: 172%;
  --mixin-F-nl6JVwuJTk_font-weight: 300;
  --mixin-F-nl6JVwuJTk_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-AqVpmPBpk_white-space: pre-wrap;
  --plasmic-mixin-unnamed-style-preset_white-space: var(
    --mixin-AqVpmPBpk_white-space
  );
  --mixin-ceN_EZPPb_white-space: pre-wrap;
  --plasmic-mixin-text-button_white-space: var(--mixin-ceN_EZPPb_white-space);
  --mixin-YGcq3h3kp_white-space: pre-wrap;
  --plasmic-mixin-overline_white-space: var(--mixin-YGcq3h3kp_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-dDaiDc5UQQKB_font-family);
  font-size: var(--mixin-dDaiDc5UQQKB_font-size);
  font-weight: var(--mixin-dDaiDc5UQQKB_font-weight);
  font-style: var(--mixin-dDaiDc5UQQKB_font-style);
  color: var(--mixin-dDaiDc5UQQKB_color);
  text-align: var(--mixin-dDaiDc5UQQKB_text-align);
  text-transform: var(--mixin-dDaiDc5UQQKB_text-transform);
  line-height: var(--mixin-dDaiDc5UQQKB_line-height);
  letter-spacing: var(--mixin-dDaiDc5UQQKB_letter-spacing);
  white-space: var(--mixin-dDaiDc5UQQKB_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-VTObBsa363En_color);
  font-weight: var(--mixin-VTObBsa363En_font-weight);
  font-size: var(--mixin-VTObBsa363En_font-size);
  line-height: var(--mixin-VTObBsa363En_line-height);
  letter-spacing: var(--mixin-VTObBsa363En_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-6RWbHJ78u5m2_color);
  font-size: var(--mixin-6RWbHJ78u5m2_font-size);
  font-weight: var(--mixin-6RWbHJ78u5m2_font-weight);
  letter-spacing: var(--mixin-6RWbHJ78u5m2_letter-spacing);
  line-height: var(--mixin-6RWbHJ78u5m2_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-ZKRQCBbRJNd4_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-ICojfD4oIU7t_color);
  font-size: var(--mixin-ICojfD4oIU7t_font-size);
  font-weight: var(--mixin-ICojfD4oIU7t_font-weight);
  line-height: var(--mixin-ICojfD4oIU7t_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-wG8U1a6nLBHK_color);
  font-size: var(--mixin-wG8U1a6nLBHK_font-size);
  font-weight: var(--mixin-wG8U1a6nLBHK_font-weight);
  line-height: var(--mixin-wG8U1a6nLBHK_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-qzrbCcrC9RWD_font-family);
  border-radius: var(--mixin-qzrbCcrC9RWD_border-top-left-radius)
    var(--mixin-qzrbCcrC9RWD_border-top-right-radius)
    var(--mixin-qzrbCcrC9RWD_border-bottom-right-radius)
    var(--mixin-qzrbCcrC9RWD_border-bottom-left-radius);
  padding: var(--mixin-qzrbCcrC9RWD_padding-top)
    var(--mixin-qzrbCcrC9RWD_padding-right)
    var(--mixin-qzrbCcrC9RWD_padding-bottom)
    var(--mixin-qzrbCcrC9RWD_padding-left);
  border-top: var(--mixin-qzrbCcrC9RWD_border-top-width)
    var(--mixin-qzrbCcrC9RWD_border-top-style)
    var(--mixin-qzrbCcrC9RWD_border-top-color);
  border-right: var(--mixin-qzrbCcrC9RWD_border-right-width)
    var(--mixin-qzrbCcrC9RWD_border-right-style)
    var(--mixin-qzrbCcrC9RWD_border-right-color);
  border-bottom: var(--mixin-qzrbCcrC9RWD_border-bottom-width)
    var(--mixin-qzrbCcrC9RWD_border-bottom-style)
    var(--mixin-qzrbCcrC9RWD_border-bottom-color);
  border-left: var(--mixin-qzrbCcrC9RWD_border-left-width)
    var(--mixin-qzrbCcrC9RWD_border-left-style)
    var(--mixin-qzrbCcrC9RWD_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-J2czhYEDJQhK_color);
  padding-left: var(--mixin-J2czhYEDJQhK_padding-left);
  border-left: var(--mixin-J2czhYEDJQhK_border-left-width)
    var(--mixin-J2czhYEDJQhK_border-left-style)
    var(--mixin-J2czhYEDJQhK_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-1FirTVyhDEY7_font-family);
  border-radius: var(--mixin-1FirTVyhDEY7_border-top-left-radius)
    var(--mixin-1FirTVyhDEY7_border-top-right-radius)
    var(--mixin-1FirTVyhDEY7_border-bottom-right-radius)
    var(--mixin-1FirTVyhDEY7_border-bottom-left-radius);
  padding: var(--mixin-1FirTVyhDEY7_padding-top)
    var(--mixin-1FirTVyhDEY7_padding-right)
    var(--mixin-1FirTVyhDEY7_padding-bottom)
    var(--mixin-1FirTVyhDEY7_padding-left);
  border-top: var(--mixin-1FirTVyhDEY7_border-top-width)
    var(--mixin-1FirTVyhDEY7_border-top-style)
    var(--mixin-1FirTVyhDEY7_border-top-color);
  border-right: var(--mixin-1FirTVyhDEY7_border-right-width)
    var(--mixin-1FirTVyhDEY7_border-right-style)
    var(--mixin-1FirTVyhDEY7_border-right-color);
  border-bottom: var(--mixin-1FirTVyhDEY7_border-bottom-width)
    var(--mixin-1FirTVyhDEY7_border-bottom-style)
    var(--mixin-1FirTVyhDEY7_border-bottom-color);
  border-left: var(--mixin-1FirTVyhDEY7_border-left-width)
    var(--mixin-1FirTVyhDEY7_border-left-style)
    var(--mixin-1FirTVyhDEY7_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-w2ml37rLxeSx_display);
  flex-direction: var(--mixin-w2ml37rLxeSx_flex-direction);
  align-items: var(--mixin-w2ml37rLxeSx_align-items);
  justify-content: var(--mixin-w2ml37rLxeSx_justify-content);
  list-style-position: var(--mixin-w2ml37rLxeSx_list-style-position);
  padding-left: var(--mixin-w2ml37rLxeSx_padding-left);
  position: var(--mixin-w2ml37rLxeSx_position);
  list-style-type: var(--mixin-w2ml37rLxeSx_list-style-type);
  flex-column-gap: var(--mixin-w2ml37rLxeSx_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-n8VWf0nl5qge_display);
  flex-direction: var(--mixin-n8VWf0nl5qge_flex-direction);
  align-items: var(--mixin-n8VWf0nl5qge_align-items);
  justify-content: var(--mixin-n8VWf0nl5qge_justify-content);
  list-style-position: var(--mixin-n8VWf0nl5qge_list-style-position);
  padding-left: var(--mixin-n8VWf0nl5qge_padding-left);
  position: var(--mixin-n8VWf0nl5qge_position);
  list-style-type: var(--mixin-n8VWf0nl5qge_list-style-type);
  flex-column-gap: var(--mixin-n8VWf0nl5qge_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-erTidqbWSsVn_color);
  font-size: var(--mixin-erTidqbWSsVn_font-size);
  font-weight: var(--mixin-erTidqbWSsVn_font-weight);
  line-height: var(--mixin-erTidqbWSsVn_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-huy32SZ6UorB_color);
  font-size: var(--mixin-huy32SZ6UorB_font-size);
  font-weight: var(--mixin-huy32SZ6UorB_font-weight);
  line-height: var(--mixin-huy32SZ6UorB_line-height);
  text-transform: var(--mixin-huy32SZ6UorB_text-transform);
  white-space: var(--mixin-huy32SZ6UorB_white-space);
  letter-spacing: var(--mixin-huy32SZ6UorB_letter-spacing);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-eMDzvoJGUHBU_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
  color: var(--mixin-F-nl6JVwuJTk_color);
  font-size: var(--mixin-F-nl6JVwuJTk_font-size);
  text-align: var(--mixin-F-nl6JVwuJTk_text-align);
  line-height: var(--mixin-F-nl6JVwuJTk_line-height);
  font-weight: var(--mixin-F-nl6JVwuJTk_font-weight);
}
